<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/jpg" href="/Static/pengu_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mas Money</title>
</head>

<body>
    <header class="flex bg-[#0d56e2] justify-between">
        <img src="/Static/pengui_icon.png"  class="h-20 w-20" alt="Penguin Icon">
        <!-- barra de navegacion -->
        <nav>
            <ul class="flex mr-20 text-xl item-center h-24 w-30 justify-between font-bold text-[#149ce5]" >
                <li><a href="https://www.youtube.com/"> Cursos   </a></li>
                <li class="ine-clamp-3"><a href="#"></a> Asesorias</li>
            </ul>
        </nav>
    </header>
    <section>
        <!-- el dic actua como un contenedor -->
        <div class="flex flex-col h-11/12 w-3/4 mx-auto items-center justify-between py-20">
            <!-- etiqueta principal de titulo -->
            <h1 class="text-6xl font-semibold text-center w-3/4">Descubri como disfrutar de tu <span class="text-[#0d56e2]">relacion con el dinero</span></h1>
            <!-- subtitulo -->
            <h2 class="text 2-xl w-11/12 text-center">Mejora tu bienestar financiero con asesoramiento personalizado, planes integrales y seguimiento de
                metas🚀</h2>
            <button class="font-bold w-64 h-12 bg-[#0d56e2]rounded-3xl text-black hover:bg-blue-700">Quiero Empezar!</button>
        </div>
    </section>
</body>

</html>