<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>Fecha</th>
            <th>Titulo</th>
            <th>Descripcion</th>
        </thead>

        <tbody>
            {% for nota in notas %}
            <tr>
                <td>{{nota.fecha }}</td>
                <td>{{nota.titulo }}</td>
                <td>{{nota.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>